<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/style.css"></link>
</head>

<body>

<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
<div class="jumbotron text-center">
  <h1>Zodys Charts</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>btcusdt</h3>
      <div id="chart"></div>
    </div>
    <div class="col-sm-4">
      <h3>btcdownusdt</h3>
      <div id="chart0"></div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-4">
      <h3>bnbusdt</h3>
      <div id="chart1"></div>
    </div>
    <div class="col-sm-4">
      <h3>ethusdt</h3>
      <div id="chart2"></div>
    </div>
  </div>
</div>

<script src="/static/chart.js"></script>
<script src="/static/chart0.js"></script>
<script src="/static/chart1.js"></script>
<script src="/static/chart2.js">
</script>

</body>
</html>
